{% extends "base_features.html" %}
{% load i18n staticfiles wger_extras %}

{#           #}
{# Opengraph #}
{#           #}
{% block opengraph %}
    {{ block.super }}
    <meta property="og:title" content="{% trans 'Features' %} - wger">

    {% with username=owner_user.username %}
        <meta property="og:description" content="{% blocktrans %}wger Workout Manager is a free, open source web application that manages your exercises and workouts. {% endblocktrans %}">
    {% endwith %}
{% endblock %}


{#         #}
{# Content #}
{#         #}
{% block content %}

<head>
    <script type="text/javascript">
        function preloader(){
            document.getElementById("loading").style.display = "none";
            document.getElementById("content").style.display = "block";
        }//preloader
        function myFunction(){
            myVar = setTimeout(preloader, 2000);
        }
        window.onload = preloader;
	</script>
    <!-- Bootstrap Core CSS -->
    <!--<link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css">-->
	<link href="../../static/css/animate.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="../../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>

    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="list_blog" data-spy="scroll" data-target=".navbar-fixed-top" onload="myFunction()">
<div id="loading"></div>
<div id="main">
<div id="content">

    <header class="home">
        <div class="container">
        </div>
    </header>
	
	<section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center animateup">
                    <h2>Features</h2>
                    <br>
                </div>
            </div>
			<div class="gap-30"></div>
            <div class="row">
                <div class="col-md-7">
					<h1 class="heading animateleft">
						<span class="darkblue">Why</span><br>
						<span class="grey">choose wger</span>
					</h1>
                    <p class="white animateleft">

                    <span class="grey">Weight Tracker: </span>
                    Keep track of your progress with the body weight chart. This makes it easy to see if you are reaching your goals or need to adjust something.
                    </p>

                    <p class="white animateleft">
                    
                    <span class="grey">Calendar: </span>
                    Get an overview of how and when you trained as well as how you personally felt you performed. Access all your individual diary entries with one click.
                    </p>
                    
                    <p class="white animateleft">
                    <span class="grey">Exercise Database: </span>
                    The exercise database contains more than hundred exercises from which you can choose when creating a workout. You can view them by category and equipment used or muscles trained.                    
                    </p>

                    <p class="white animateleft">
                    <span class="grey">Gym Management: </span>
                    Use the application for your gym to manage its members, their workouts and attendance. You can manage the members' contracts, keep notes and upload any files you might need.
                    </p>
                    
                    <p class="white animateleft">
                    <span class="grey">REST API: </span>
                    wger provides a REST API with full read and write access to all data so you can integrate your own application and tools.
                    </p>
                </div>
                <div class="col-md-5">
					<div id="testimonials-2" class="slide testimonial testimonial-version1 animateright">
							<div class="carousel-inner">
								<div class="item active">

									<div class="fullwidth">
										<div class="testimonial-metadata">
											<span class="author primary-color">
											</span>
											<br>
										</div>
                                        <img src="../../static/img/templateimg/ft1.png"/>
									</div>
								</div>
								<div class="item">

									<div class="fullwidth">
										<div class="testimonial-metadata">
											<span class="author primary-color">
											</span>
											<br>
										</div>
                                        <img src="../../static/img/templateimg/ft3.png"/>

									</div>
								</div>
								<div class="item">

									<div class="fullwidth">
										<div class="testimonial-metadata">
											<span class="author primary-color">
											</span>
											<br>
										</div>
                                        <img src="../../static/img/templateimg/ft4.png"/>
                                        
									</div>
								</div>

								<div class="item">
	
									<div class="fullwidth">
										<div class="testimonial-metadata">
											<span class="author primary-color">
											</span>
											<br>
										</div>
                                        <img src="../../static/img/templateimg/ft5.png"/>
                                        
									</div>
								</div>


								<div class="item">
		
									<div class="fullwidth">
										<div class="testimonial-metadata">
											<span class="author primary-color">
											</span>
											<br>
										</div>
                                        <img src="../../static/img/templateimg/ft6.png"/>
                                        
									</div>
								</div>

							</div>
						<div class="testimonial-control pull-right">
							<a class="left  btn btn-primary btn-xs" href="#testimonials-2" data-slide="prev"><i class="fa fa-angle-left fa-2x"></i></a>
							<a class="right btn btn-primary btn-xs" href="#testimonials-2" data-slide="next"><i class="fa fa-angle-right fa-2x"></i></a>
						</div>
					</div>
				</div>	
            </div>
        </div>
    </section>

    <section class="services" id="services">
        <div class="container">
            <div class="row">
                <br><br>
                <div class="col-lg-12 text-center animateup">
                        {% if allow_guest_users and not user.is_authenticated %}
                            <a href="{% url 'core:user:demo-entries' %}" class="page-scroll btn btn-xl" rel="nofollow" style="margin-top: 1em;">
                                {% trans "Try it now" %}
                            </a>
                        {% endif %}

                        {% if not user.is_authenticated or user.userprofile.is_temporary %}
                            {% if allow_registration %}
                                <a href="{% url 'core:user:registration' %}" class="page-scroll btn btn-xl" style="margin-top: 1em;">
                                    {% trans "Register" %}
                                </a>
                            {% endif %}

                            <a href="{% url 'core:user:login' %}" class="page-scroll btn btn-xl" style="margin-top: 1em;">
                                {% trans "Login" %}
                            </a>
                        {% endif %}                    
                </div>
			</div>
		</div>        
	</section>

	<header class="bottom">
    </header>

    <script src="../../static/js/jquery-1.10.2.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../../static/js/classie.js"></script>
    <script src="../../static/js/cbpAnimatedHeader.js"></script>
    <script src="../../static/js/jquery.appear.js"></script>
	<script src="../../static/js/businessplus.js"></script>
	<script src="../../static/js/jquery.flexslider-min.js"></script>
	<script src="../../static/js/jquery.isotope.min.js"></script>
	
    </script>

{% endblock %}

